<button mat-icon-button class="close-button" matDialogClose>
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="LeaveForm">
        <div class="form-group">
            <label for="from">From</label>
            <br>
            <input type="date" class="form-control custom-input" name="from" id="from" formControlName="from">
        </div>
        <div class="form-group">
            <label for="to">To</label>
            <br>
            <input type="date" class="form-control custom-input" name="To" id="to" formControlName="To">
        </div>

        <div class="form-group">
            <label for="reason">Reason</label>
            <input type="text" formControlName="reason" class="form-control custom-input">

        </div>

        <div class="button-container">
            <button class="btn btn-danger custom-button">
                Cancel
            </button>
            <button mat-raised-button class="btn btn-primary custom-button" type="submit">
                Submit
            </button>
        </div>
    </form>
</mat-dialog-content>