html,
body {
    height: 100%;
}

body {
    background: linear-gradient(45deg, #f0f3f4, #287893);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 
body {
    background-image: url('./assets/images/bg-image.jpg.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} */